/* pour les écrans inférieur ou égal à 1000px */

/* commun */

@media only screen and (max-width:1000px) 
{
    body 
    {
    font-size: 0.9em;
    }

    ul
{
    list-style-type: none;
    display: table-column-reverse;
    flex-wrap: wrap;
    align-items: middle;
    padding-left: 0;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
    
    li a:hover
{
    background-color: white;
    color: #000000;
    border-top: #ffffff solid 2px;
    border-bottom: #0065fc solid 2px;
}
    h2 
    {
        font-size: 1.1em;
    }

    li 
    {
        font-size: 1.2em;
    }
    
    a:hover
{
    background-color: white;
    color: #0065fc;
    border-top: #ffffff solid 2px;
    border-bottom: #0065fc solid 2px;
}

}

/* Barre de navigation */




/* zone de recherche */

.submit
{
    width: 70px;
	background: url('images/icon/search-solid.svg') no-repeat center;
    background-color: #0065fc;
    border-radius: 20px;
    margin-left: -20px;
	color: transparent;
	background-size: 20px;
}

.filtre
{
    flex-direction: column;
    align-items: center;
}


/* partie Hébergements */

.row
{
    flex-direction: column-reverse;

}

.col1
{
    background-color: #ffffff;
    width:90%;
    margin-bottom: 20px;
    display: flex;
	flex-direction: column;
}

.col2
{
    width:90%;
    margin-bottom: 20px;
}


.title
{
    background-color: #ffffff;
}

.card
{
    width: 75%;
}

.photo
{
	width: 350px;
	height: 200px;
	border-radius: 20px 20px 0 0;

}

.card2 
{
    width: 75%;
}

.photo2
{
    width: 150px;
    min-width: 150px;
	height: 150px;
	border-radius: 20px 0 0 20px;
}

/* Partie galerie de photos */


.row3
{
	flex-direction: column;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;

}

.col3
{
	width: 500px;
}

.card3 
{
    width: 500px;
}

.photo3
{
	width:450px;


}

.col4
{
	width:500px;
}

.card4 
{

	width: 500px;

}

.photo4
{
	width: 450px;

}