/* pour les écrans inférieurs à 600px */

/* commun */

@media only screen and (max-width:800px) 
{
    body 
    {
    background-color: white;
    color:black;
    font-size: 0.9em;
    }

    ul
{
    list-style-type: none;
    display: flex;
	flex-wrap: wrap;
    padding-left: 0;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
    
    li a:hover
{
    background-color: white;
    color: #0065fc;
    border-top: #ffffff solid 2px;
    border-bottom: #0065fc solid 2px;
}
    h2 
    {
        font-size: 1.1em;
    }

    li 
    {
        font-size: 1.2em;
    }
}


/* zone de recherche */

.submit
{
    width: 50px;
	background: url(images/icon/search-solid.svg) no-repeat center;
    background-color: #0065fc;
    border-radius: 20px;
	color: transparent;
	background-size: 30px;
}

.filtre
{
    flex-direction: column;
}

/* partie cadre photo */

.row
{
    flex-direction: column;

}

.col1
{
    width:90%;
    margin-bottom: 20px;
    display: flex;
	flex-direction: column;
}

.col2
{
    width:90%;
    margin-bottom: 20px;
}