/* commun */

h1 { font-family: 'Raleway', "Time New Roman', Verdana, Geneva, sans-serif"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
h2 { font-family: 'Raleway', "Time New Roman', Verdana, Geneva, sans-serif"; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 21.4px; }  
h3 {font-family: 'Raleway', "Time New Roman', Verdana, Geneva, sans-serif"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p {font-family: 'Raleway', "Time New Roman', Verdana, Geneva, sans-serif"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 10px; } 
blockquote {font-family: 'Raleway', "Time New Roman', Verdana, Geneva, sans-serif"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre {font-family: 'Raleway', "Time New Roman', Verdana, Geneva, sans-serif"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }


/* Barre de navigation */

li
{
    list-style-type: none;
    float: right;
    padding-left: 0;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

li a
{
    text-decoration: none;
    color: #0065fc;
}

li a:hover
{
    background-color: white;
    color: #0065fc;
    border-top: #0065fc solid 2px;
}

 /*zone de recherche */

 .main_search
 {
    display: flex;
    margin-left: 50px;
    margin-top: 40px;
}

#map
{
   border: solid 2px #f2f2f2;
   background-color: #f2f2f2;
   padding: 15px;
   margin-top: 20px;
   border-radius: 20% 0% 0% 20%;
   border-right: none;	
   width: 10px;
   height: auto;
}

.search
{
    width: 200px;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    border: solid 1px #f2f2f2;
}

.submit
{
    margin-top: 20px;
    width: 120px;
    border-left: none;
    border-color: #0065fc;
    background-color: #0065fc;
    color: white;
    border-radius: 0 20px 20px 0;
    font-weight: bold;
}

.info
{
    font-size: 12px;
    margin: 10px;
}

/* zone des filtres */

.main
{
    display: flex;
    align-items: center;
	margin-bottom: -50px;
	margin-top: -20px;
}

.filtre
{
    display: flex;
    margin: 20px;

}

 .menu
 {
     display: flex;
     margin-top: 10px;
     margin-bottom: 10px;
 }

 .rondelle
{
	width: 25px;
	height: 25px;
   	padding: 11px;
   	border-radius: 25px;
   	border-style: none;
   	background-color: #a1c1f0;
   	position: relative;
   	margin-right: -10px;
}

.cartouche
{
    height: 48px;
    border-radius: 0px 20px 20px 0px;
    width: 170px;
    margin-left: -15px;
    font-weight: bold;
    padding-left: 15px;
    margin-right: 10px;
}

.ville{
    margin: 0px;
    font-size: 0.9em; 
}
