/* commun */

body
{
    font-family: 'Raleway', "Time New Roman', Verdana, Geneva, sans-serif";
    font-size: 11px;
    font-style: normal;
}

h2
{
    font-family: 'Raleway', "Time New Roman', Verdana, Geneva, sans-serif";
    font-size: 20px;
    font-style: bold;
}

h3
{
    font-family: 'Raleway', "Time New Roman', Verdana, Geneva, sans-serif";
    font-size: 18px;
    font-style: bold;
}

p
{
    font-family: 'Raleway', "Time New Roman', Verdana, Geneva, sans-serif";
    font-size: 11px;
    font-style: normal;
}



/* Barre de navigation */

.logo
{
    width: 7%;
}

a
{
    color: #0065fc;
    list-style-type: none;
    text-decoration: none;
}

li
{
    font-family: 'Raleway', 'Time New Roman', Verdana, 'Geneva', sans-serif;
    font-size: 1.2em;
    list-style-type: none;
    padding-left: 40px;
    float: right;
    padding-left: 0;
    margin: 20px
}

li a
{
    text-decoration: none;
    color: #0065fc;

}

li:hover
{

    color: #000000;

}

li a:hover
{
    border-top: #0065fc solid 1px;
    padding-top: 10px;
}

a:hover
{
    list-style-type: none;
    text-decoration: none;
    color: #000000;
}


nav
{
    display: inline-block;
    flex-direction: row-reverse;
    width: 95%;
    font-size: 1.2em;
}

.conteneur
{
    display: none;
    width: 100%;
}

.conteneur2
{
    display: none;
    width: 100%;
}

 /*zone de recherche */

.main_search
{
    display: flex;
}

#map
{
   border: solid 2px #f2f2f2;
   background-color: #f2f2f2;
   padding: 15px;
   margin-top: 20px;
   border-radius: 20% 0% 0% 20%;
   border-right: none;	
   width: 20px;
   height: auto;
}

.search
{
    width: 200px;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    border: solid 1px #f2f2f2;
}

.submit
{
    margin-top: 20px;
    width: 120px;
    border-left: none;
    border-color: #0065fc;
    background-color: #0065fc;
    color: white;
    border-radius: 0 20px 20px 0;
    font-weight: bold;
}

.info
{
    font-size: 12px;
    margin: 10px;
}



/* zone des filtres */

.main
{
    display: flex;
    align-items: center;
	margin-bottom: -50px;
	margin-top: -20px;
}

.filtre
{
    display: flex;
    margin: 20px;

}

 .menu
 {
     display: flex;
     margin-top: 10px;
     margin-bottom: 10px;
 }

 .rondelle
{
	width: 25px;
	height: 25px;
   	padding: 11px;
   	border-radius: 25px;
   	border-style: none;
   	background-color: #a1c1f0;
   	position: relative;
   	margin-right: -10px;
}

.cartouche
{
    height: 48px;
    border-radius: 0px 20px 20px 0px;
    width: 170px;
    margin-left: -15px;
    font-weight: bold;
    padding-left: 15px;
    margin-right: 10px;
}

.cartouche:hover
{
    background-color: pink;
}

.ville
{
    margin: 0px;
    font-size: 1.1em; 
}

/* Partie Hébergements */

.row
{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;

}

.col1
{
	width:60%;
	background-color: #f2f2f2;
	border-radius: 20px;
	margin-right: 15px;
	margin-left: 15px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.card 
{
    vertical-align: middle;
	padding: 3px;
	text-align: left;
	background-color: #ffffff;
    width: 28%;
	border-radius: 20px;
    margin: 20px;
    box-shadow: 1px 1px 12px #555;
}

.photo
{
    width: 100%;
    min-height: 200px;
    max-height: 200px;
	border-radius: 20px 20px 0 0;

}

.etoile
{
	width: 10px;
}

.col2
{
	width:30%;
	background-color: #f2f2f2;
	border-radius: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.card2 
{
    display: flex;
	padding: 3px;
	background-color: #ffffff;
    width: 80%;
	border-radius: 20px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 12px #555;
}

.photo2
{
    width: 200px;
    min-width: 100px;
    max-width: 100px;
    height: 100px;
	border-radius: 20px 0 0 20px;
}

.title
{
    background-color: #f2f2f2;
    border-radius: 20px 0 0 20px;
    width: 80%;
    margin-left: 30px;
}

.title2
{
    background-color: #f2f2f2;
    border-radius: 20px 0 0 20px;
    width: 80%;
    margin-left: 30px;
}

.icon
{
   float: right;
   width: 20px;
}

.descriptif
{
    margin-left: 10px;
    padding-top: 10px;
    font-size: 1.2em;
}

.descriptif2
{
    padding-top: 20px;
    font-size: 1.2em;
}

/* Partie galerie de photos */

.title3
{
    background-color: #ffffff;
    border-radius: 20px 0 0 20px;
    width: 80%;
    margin-left: 30px;
}

.row3
{
	display: flex;
    flex-direction: row;
    align-content: center;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;

}

.col3
{
	width:25%;
	border-radius: 20px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
}

.card3 
{
    vertical-align: middle;
	padding: 0px;
    width: 90%;
	border-radius: 20px;
    margin: 25px;
    box-shadow: 1px 1px 12px #555;
}

.photo3
{
    width: 100%;
    height: 500px;
	border-radius: 20px 20px 0 0;

}

.col4
{
    vertical-align: middle;
	width:25%;
	border-radius: 20px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.descriptif2
{
    margin-top:10px;
    margin-left:20px;
    margin-bottom:10px;
    font-size: 1.0em;
}

.card4 
{
    width: 90%;
	border-radius: 20px;
    margin-left: 35px;
    box-shadow: 1px 1px 12px #555;
}

.photo4
{
	width: 100%;
    height: 222px;
	border-radius: 20px 20px 0 0;

}

.gallery
{
	display: block;
	position: absolute;
	margin-left: 8px;
	margin-top: 10px;
}

/* partie pied de page */

.row5
{
    background-color: #f2f2f2;
	display: flex;
	flex-direction: row;
	width: 100%;

}

.col5
{
	width:30%;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.title5
{
    width: 80%;
    margin-left: 30px;
}

.commentaire
{
    margin-left: 30px;
    font-size: 1.2em;
}